@using AbogaciaCore.Helpers;
@model (string Title, string Subtitle, string ClassName, string ImagePath, int Width, int Height, bool UseResponsiveImage)

<section id="page-title" class="page-title-parallax page-title-dark @Model.ClassName">
    <div class="container clearfix">
        <h1>@Model.Title</h1>
        @if (!string.IsNullOrEmpty(Model.Subtitle))
        {
            <span>@Model.Subtitle</span>
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.ImagePath))
    {
        if (Model.UseResponsiveImage)
        {
            @Html.ResponsiveImage(
                Model.ImagePath,
                Model.Title,
                "parallax-bg",
                fetchPriority: "high"
            )
        }
        else
        {
            <img class="parallax-bg" src="@Model.ImagePath" alt="@Model.Title" width="@Model.Width" height="@Model.Height" fetchpriority="high" />
        }
    }
</section>