<!-- prettier-ignore -->
@using System.Web.Optimization
@using System.Web
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@using Microsoft.AspNetCore.Hosting
@using AbogaciaCore.Helpers;

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />

    <title>@(ViewData["Title"] ?? "Estudio Jurídico López Giacomelli - Especialistas en accidentes y despidos")</title>
    <meta name="description"
        content="@(ViewData["Description"] ?? "Abogados especialistas en accidentes y derecho laboral en Argentina.")">
    <meta name="keywords"
        content="@(ViewData["Keywords"] ?? "abogados, accidentes de tránsito, accidentes laborales, despidos, derecho laboral, indemnización")">
    <link rel="canonical" href="https://estudiolopezgiacomelli.com.ar/@(ViewData["Canonical"] ?? "")" />
    <link rel="alternate" hreflang="es-AR" href="https://estudiolopezgiacomelli.com.ar/" />
    <link rel="alternate" hreflang="es" href="https://estudiolopezgiacomelli.com.ar/" />

    <link rel="icon" href="/images/logo.ico" />
    @* <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap"
          media="print" 
          onload="this.media='all'"> *@
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:ital@0;1&display=swap"
        rel="stylesheet">


    @RenderSection("Styles", required: false)
    @RenderSection("PreloadLinks", required: false)
    <a href="https://api.whatsapp.com/send?phone=541161980179" class="bi-whatsapp contact-us-whatsapp"
        target="_blank"></a>
</head>

<body class="stretched">
    <div id="wrapper" class="clearfix">
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("GoogleReviewsPartial")
        @Html.Partial("Footer")
    </div>

    <div id="gotoTop" class="uil uil-angle-up"></div>


    <script src="/js/functions.js"></script>
    @RenderSection("Scripts", required: false)
</body>

</html>
