<!-- prettier-ignore -->
@using System.Web.Optimization
@using System.Web
@inject Microsoft.AspNetCore.Hosting.IHostingEnvironment env
@using Microsoft.AspNetCore.Hosting
@using AbogaciaCore.Helpers;

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="robots" content="index, follow" />

    <title>@(ViewData["Title"] ?? "Estudio Jurídico López Giacomelli - Especialistas en accidentes y despidos")</title>
    <meta name="description" content="@(ViewData["Description"] ?? "Abogados especialistas en accidentes y derecho laboral en Argentina.")">
    <meta name="keywords" content="@(ViewData["Keywords"] ?? "abogados, accidentes de tránsito, accidentes laborales, despidos, derecho laboral, indemnización")">
    <link rel="canonical" href="https://estudiolopezgiacomelli.com.ar/@(ViewData["Canonical"] ?? "")" />
    <link rel="alternate" hreflang="es-AR" href="https://estudiolopezgiacomelli.com.ar/" />
    <link rel="alternate" hreflang="es" href="https://estudiolopezgiacomelli.com.ar/" />
    
    </script>

    <link rel="icon" href="/images/logo.ico" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700|Poppins:300,500,700&display=swap" rel="stylesheet" />
    
    @if (@env.IsDevelopment()) {
      <!-- <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" />
      <link rel="stylesheet" href="~/style.css" type="text/css" />
      <link rel="stylesheet" href="~/css/dark.css" type="text/css" />
  
      <link rel="stylesheet" href="~/style-vars.css" type="text/css" />
  
      <link rel="stylesheet" href="~/css/swiper.css" type="text/css" />
      <link rel="stylesheet" href="~/css/dark-vars.css" type="text/css" />
      <link rel="stylesheet" href="~/css/font-icons.css" type="text/css" />
      <link rel="stylesheet" href="~/css/animate.css" type="text/css" />
      <link rel="stylesheet" href="~/css/magnific-popup.css" type="text/css" />
      
      <link rel="stylesheet" href="~/css/responsive-vars.css" type="text/css" />
     <link rel="stylesheet" href="~/abogacia.css" type="text/css" /> -->
  
      <link rel="stylesheet" href="~/css/site.min.css" />
      } else {
      <link rel="stylesheet" href="~/css/site.min.css" />
      }
 
    @RenderSection("Styles", required: false)
    <a
    href="https://api.whatsapp.com/send?phone=541161980179"
    class="icon-whatsapp contact-us-whatsapp"
    target="_blank"
  ></a>
</head>
<body class="stretched page-transition" data-loader="2" data-loader-timeout="20">
    <div id="wrapper" class="clearfix">
        @Html.Partial("Header")
        @RenderBody()
        @Html.Partial("Footer")
    </div>

    <div id="gotoTop" class="icon-angle-up"></div>

    @if (@env.IsDevelopment()) {
      <script src="~/js/jquery.js"></script>
      <script src="~/js/functions.js"></script>
      <script src="~/js/utils.js"></script>
      <script src="~/js/components/moment.js"></script>
      <script src="~/js/calculators/calculatorWorkDismissal.js"></script>
      <script src="~/js/calculators/calculatorTrafficAccident.js"></script>
      <script src="~/js/calculators/calculatorWorkAccident.js"></script>
      <script>
        $("body").bind("copy paste cut drag drop", function (e) {
          e.preventDefault();
        });
      </script>
 <script src="~/js/googleReviewsPlugin.js"></script>
      
      <!-- <script src="~/js/plugins.animations.js"></script>
          <script src="~/js/plugins.bootstrap.js"></script>
          <script src="~/js/plugins.easing.js"></script>
          <script src="~/js/plugins.swiper.js"></script>
          <script src="~/js/plugins.flexslider.js"></script> -->
      <!-- <script src="~/js/googleMaps.js"></script> -->
      } else {
      <script src="~/js/site.min.js"></script>
      } @RenderSection("Scripts", required: false)
</body>
</html>
