@using AbogaciaCore.Helpers;

<header id="header" class="full-header" >
    <div id="header-wrap">
        <div class="container">
                <div class="slider-social d-block d-sm-none clearfix ">
                <div class="row justify-content-center border-bottom mb-1" >
              		<a href="https://www.facebook.com/Estudio-Jur%C3%ADdico-Lopez-Giacomelli-2000856223478787" target="_blank" class="social-icon border-transparent color-facebook  h-bg-facebook" title="Facebook">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>

									<a href="https://www.instagram.com/estudiolopezgiacomelli/" target="_blank" class="social-icon border-transparent color-instagram  h-bg-instagram" title="Instagram">
										<i class="bi-instagram"></i>
										<i class="bi-instagram"></i>
									</a>
                </div>
      
             </div>

            <div class="header-row mb-2">
                <!-- Logo
                        ============================================= -->
                <div id="logo">

                    <a href="@Url.Action("Index", "Home")"
                    class="standard-logo" aria-label="Ir a la página principal"><img src="/images/logo.png" alt="Logo Estudio Lopez Giacomelli"></a>
                </div>
                <!-- #logo end -->

					<div class="primary-menu-trigger">
							<button class="cnvs-hamburger" type="button" title="Open Mobile Menu">
								<span class="cnvs-hamburger-box"><span class="cnvs-hamburger-inner"></span></span>
							</button>
						</div>

                <!-- Primary Navigation
                        ============================================= -->
                <nav class="primary-menu">
                    <ul class="menu-container">

                        <li class="menu-item  @Html.IsSelected(action:"Index",controller:"Home",cssClass:"current")">
                            <a class="menu-link" href="@Url.Action("Index", "Home")">Inicio</a>
                        </li>
                        <!-- <li class="menu-item @Html.IsSelected(action:"Index",controller:"AboutUs",cssClass:"current")">
                            <a class="menu-link" href="@Url.Action("Index", "AboutUs")">Nosotros</a>
                        </li> -->
                        <li class="menu-item @Html.IsSelected(controller:"Articles",cssClass:"current")">
                            <a href="#" 
                               class="menu-link" 
                               aria-label="Menú de Accidentes">
                                <div>Accidentes</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item">
                                    <a href="#" 
                                       class="menu-link"
                                       aria-label="Menú de Accidentes de Tránsito">
                                        <div>De Tránsito</div>
                                    </a>
                                    <ul class="sub-menu-container">
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("como-actuar-ante-un-accidente-de-transito", "Articles")">Como actuar ante un accidente de tránsito</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-en-transporte-publico", "Articles")">En Transporte publico</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-en-auto", "Articles")">En Auto</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-en-moto", "Articles")">En Moto</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-en-bicicleta", "Articles")">En bicicleta</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-como-acompanantes", "Articles")">Como acompañante</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-como-peaton", "Articles")">Como peatón</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("destruccion-total", "Articles")">Destruccion total</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-de-transito", "Faq")">Preguntas frecuentes</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item">
                                    <a href="#" 
                                       class="menu-link"
                                       aria-label="Menú de Accidentes Laborales">
                                        <div>Laborales</div>
                                    </a>
                                    <ul class="sub-menu-container">
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("Covid19", "Articles")" >Covid-19</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-de-trabajo", "Articles")">En ocasión del trabajo</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-in-itinere", "Articles")">In itinere</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("enfermedades-profesionales", "Articles")">Enfermedades profesionales</a></li>
                                        <li class="menu-item"><a class="menu-link" href="@Url.Action("accidentes-laborales", "Faq")">Preguntas frecuentes</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li class="menu-item @Html.IsSelected(controller:"Dismissals",cssClass:"current") ">
                            <a href="#" 
                               class="menu-link"
                               aria-label="Menú de Despidos"
                               role="button"
                               aria-expanded="false"
                               aria-haspopup="true">
                                <div>Despidos</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"Dismissals",cssClass:"current",action:"derechos-del-trabajador")" href="@Url.Action("derechos-del-trabajador", "Dismissals")">Derechos del trabajador</a></li>
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"Calculators",cssClass:"current",action:"despidos")" href="@Url.Action("despidos", "Calculators")">Calculadora Despido</a></li>
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"FAQ",cssClass:"current",action:"despidos")" href="@Url.Action("despidos", "FAQ")">Preguntas Frecuentes</a></li>
                            </ul>
                        </li>
                        <li class="menu-item @Html.IsSelected(controller:"Calculators",cssClass:"current") ">
                            <a href="#" 
                               class="menu-link"
                               aria-label="Menú de Calculadoras"
                               role="button"
                               aria-expanded="false"
                               aria-haspopup="true">
                                <div>Calculadoras</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"Calculators",cssClass:"current",action:"accidentes-laborales")" href="@Url.Action("accidentes-laborales", "Calculators")">Calculadora accidente laboral</a></li>
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"Calculators",cssClass:"current",action:"accidentes-de-transito")" href="@Url.Action("accidentes-de-transito", "Calculators")">Calculadora accidente de tránsito</a></li>
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"Calculators",cssClass:"current",action:"despidos")" href="@Url.Action("despidos", "Calculators")">Calculadora despido</a></li>
                            </ul>
                        </li>
                        <li class="menu-item @Html.IsSelected(controller:"FAQ",cssClass:"current") ">
                            <a href="#" 
                               class="menu-link"
                               aria-label="Menú de Preguntas Frecuentes"
                               role="button"
                               aria-expanded="false"
                               aria-haspopup="true">
                                <div>Preguntas frecuentes</div>
                            </a>
                            <ul class="sub-menu-container">
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"FAQ",cssClass:"current",action:"accidentes-laborales")" href="@Url.Action("accidentes-laborales", "FAQ")">Accidentes laborales</a></li>
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"FAQ",cssClass:"current",action:"accidentes-de-transito")" href="@Url.Action("accidentes-de-transito", "FAQ")">Accidentes de tránsito</a></li>
                                <li class="menu-item"><a class="menu-link @Html.IsSelected(controller:"FAQ",cssClass:"current",action:"despidos")" href="@Url.Action("despidos", "FAQ")">Despidos</a></li>
                            </ul>
                        </li>

                        <li class="menu-item @Html.IsSelected(controller:"NovedadesFolder",cssClass:"current")">
                            <a class="menu-link" href="/novedades">Novedades</a>
                        </li>

                    <li class="menu-item @Html.IsSelected(action: "index", controller: "Contacto", cssClass: "current")">
                        <a class="menu-link" href="@Url.Action("index", "Contacto")">Contáctenos</a>
                    </li>

                    </ul>
                </nav>

                <div class="col-md-1 d-lg-block d-none ">
									<a href="https://www.facebook.com/Estudio-Jur%C3%ADdico-Lopez-Giacomelli-2000856223478787" target="_blank" class="social-icon border-transparent color-facebook  h-bg-facebook" title="Facebook">
										<i class="fa-brands fa-facebook-f"></i>
										<i class="fa-brands fa-facebook-f"></i>
									</a>

									<a href="https://www.instagram.com/estudiolopezgiacomelli/" target="_blank" class="social-icon border-transparent color-instagram  h-bg-instagram" title="Instagram">
										<i class="bi-instagram"></i>
										<i class="bi-instagram"></i>
									</a>
				</div>
                
                @* <div class="slider-social  d-lg-block d-none clearfix">
					<a href="https://www.facebook.com/Estudio-Jur%C3%ADdico-Lopez-Giacomelli-2000856223478787" target="_blank" class="social-icon si-small si-borderless si-facebook si-text-color " aria-label="Síguenos en Facebook">
						<i class="fa-brands fa-square-facebook" aria-hidden="true"></i>

					</a>
					<a href="https://www.instagram.com/estudiolopezgiacomelli/" target="_blank" class="social-icon si-small si-borderless si-instagram si-text-color" aria-label="Síguenos en Instagram">
						<i class="icon-instagram" aria-hidden="true"></i>
						<i class="icon-instagram" aria-hidden="true"></i>
					</a>
                </div> *@
          
                <!-- #primary-menu end -->
            </div>
        </div>
    </div>
</header>
<!-- #header end -->
