@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.PublishedContent
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<IPublishedContent>
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["Title"] = $"{Model.Name} - Blog - Estudio Jurídico López Giacomelli";
	ViewData["Description"] = $"Artículos sobre {Model.Name.ToLower()} - Noticias y actualidad jurídica";
	ViewData["Keywords"] = Model.Value<string>("seoKeywords") ?? 
						$"{Model.Name.ToLower()}, derecho laboral, accidentes, blog jurídico, noticias legales";
	var articles = Model.Children.Where(x => x.ContentType.Alias == "blogEntry");

	var jsonLdModel = new JsonLdModel
	{
		Headline = $"{Model.Name} - Blog - Estudio Jurídico López Giacomelli",
		Description = ViewData["Description"].ToString(),
		Keywords = ViewData["Keywords"].ToString(),
		Category = Model.Name,
		ArticleBody = $"Artículos sobre {Model.Name.ToLower()} - Noticias y actualidad jurídica"
	};
}

<!-- Page Title -->
<section class="page-title bg-transparent">
	<div class="container mt-6">
		<div class="page-title-row">
			<div class="page-title-content">
				<h1>@Model.Name</h1>
				<span>Artículos en esta categoría</span>
			</div>
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="/">Inicio</a></li>
					<li class="breadcrumb-item"><a href="/novedades">Novedades</a></li>
					<li class="breadcrumb-item active" aria-current="page">@Model.Name</li>
				</ol>
			</nav>
		</div>
	</div>
</section>

<!-- Content -->
<section id="content">
		<div class="container">
			<div class="row gx-5 col-mb-80">
				<!-- Post Content -->
				<main class="postcontent col-lg-9">
					@await Html.PartialAsync("_BlogEntryList", articles)
				</main>

				<!-- Sidebar -->
				@await Html.PartialAsync("_BlogSidebar", Model.Parent as IPublishedContent)
			</div>
		</div>
</section>

<script type="application/ld+json">
{
    "@@context": "https://schema.org",
    "@@type": "CollectionPage",
    "headline": "@Html.Raw(jsonLdModel.Headline)",
    "description": "@Html.Raw(jsonLdModel.Description)",
    "keywords": "@Html.Raw(jsonLdModel.Keywords)",
    "url": "@($"{Context.Request.Scheme}://{Context.Request.Host}{Context.Request.Path}")",
    "about": {
        "@@type": "Thing",
        "name": "@Html.Raw(jsonLdModel.Category)"
    },
    "publisher": {
        "@@type": "Organization",
        "name": "Estudio Jurídico López Giacomelli",
        "url": "https://estudiolopezgiacomelli.com.ar",
        "logo": {
            "@@type": "ImageObject",
            "url": "https://estudiolopezgiacomelli.com.ar/images/logo.png"
        }
    }
}
</script>