<!-- @using AbogaciaCore.Helpers; -->

<!-- test -->
@model ArticleModel

@section Styles {
  @{
    var cssFileName = Model.Article.LowerFirstLetter() + ".css";
  }
  <link rel="preload" href="@VersionedFileHelper.GetVersionedFile(cssFileName)" as="style" 
        onload="this.onload=null;this.rel='stylesheet'">
  <noscript>
    <link rel="stylesheet" href="@VersionedFileHelper.GetVersionedFile(cssFileName)">
  </noscript>
}

<!-- test -->
@Html.Partial("ArticlesHeader")

<section id="content">
  <div class="pt-0">
    <div id="articleSection" class="section mt-0">
      <div class="container mt-5">
        <!-- <h1>@Html.Raw(Model.ArticleName)</h1> -->
        @Html.Partial(Model.Article)
      </div>
    </div>
  </div>
</section>

<div class="container promo promo-border p-4 p-md-5 mb-5 mt-md-5">
  <div class="row align-items-center">
    <div class="col-12 col-lg">
      <h3 style="font-weight: 600">
        <ul class="iconlist iconlist-color mb-0">
          <li>
            <i class="bi-check-circle me-4"></i>
            <span>NO COBRAMOS GASTOS</span
            ><span class="destacado"> NI ADELANTOS.</span>
          </li>
          <li>
            <i class="bi-check-circle me-4"></i><span> ACUERDOS EXPRESS</span
            ><span class="destacado"> CON ASEGURADORAS. </span>
          </li>

          <li>
            <i class="bi-check-circle me-4"></i>
            <span>RECLAMO EN</span>
            <span class="destacado">
              FORMA <span class="promoInmediata">INMEDIATA.</span></span
            >
          </li>
        </ul>
      </h3>
    </div>
  </div>
</div>

<div class="container clearfix mb-5">@Html.Partial("CalculatorsLinks")</div>

@section Scripts {
  @{
    var jsFileName = Model.Article.LowerFirstLetter() + ".js";
  }

  <script src="@VersionedFileHelper.GetVersionedFile(jsFileName)"></script>
}

